.border-radius-50p {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.figures-container .figure {
  font-size: xx-large;
  font-weight: 700;
}

.figures-container .figure-desc {
  font-size: large;
}

.details-container .details-title {
  background-color: var(--bg_hover);
  color: var(--color_white);
}