/*!
 *      Default styles for all pages
 *      Fumana global styles
 *      (c) Fumana Teams 2020
*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /* box-shadow: 1px 1px 1px #f00; */

  /* For development use only */
}

button {
  cursor: pointer;
}

body,
input,
button {
  font-size: var(--default_font__size);
  font-family: var(--default_font__family);
  -webkit-font-smoothing: antialiased;
}

a:hover {
  color: var(--color_hover)
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading_font);
}

button {
  cursor: pointer;
}

/* Utilities START */

.mt-12vh {
  margin-top: 12vh;
}

.mt-8vh {
  margin-top: 8vh;
}

.pt-4vh {
  padding-top: 4vh;
}

.pt-6vh {
  padding-top: 6vh;
}

.pt-8vh {
  padding-top: 10vh;
}

.nav-bars:before {
  content: '\2630';
  cursor: pointer;
}

.border-3 {
  border-width: 3px;
}

.border-solid {
  border-style: solid;
}

.border-gray {
  border-color: var(--color_gray)
}

.bordered-radius-4 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.bordered-radius-8 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

table-responsive table tr.p-sticky {
  position: sticky;
  top: 120px;
}

.remove:hover {
  color: var(--red);
}

.edit:hover {
  color: var(--green)
}

/* Utilities END */

.font-size-large {
  font-size: large;
}

.font-size-normal {
  font-size: normal;
}

.font-size-small {
  font-size: small;
}

.font-size-smaller {
  font-size: smaller;
}

.fz-24 {
  font-size: 24px;
}

.fz-38 {
  font-size: 38px;
}

a.text-decoration-none {
  text-decoration: none;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: var(--color_accessibility);
  color: var(--color_light__accessibility);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active ul.components li {
  font-size: 14px;
}

#sidebar.active ul.components li a {
  padding: 10px 0;
}

#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 24px;
}

#sidebar.active .logo {
  padding: 10px 0;
}

#sidebar.active .footer {
  display: none;
}

#sidebar .logo {
  display: block;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span {
  margin-right: 15px;
}

@media (max-width: 991.98px) {
  #sidebar ul li a span {
    display: block;
  }
}

#sidebar ul li a:hover {
  color: var(--color_white);
}

#sidebar ul li.active>a {
  background: transparent;
  color: var(--color_white);
}

@media (max-width: 991.98px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  #sidebar.active {
    margin-left: 0 !important;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

.footer {
  padding: 0 30px;
}

@media (max-width: 991.98px) {
  .footer {
    display: none;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* Auth pagesSTYLES */

.auth-container {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.auth-container {
  height: 75vh;
  max-width: 98%;
}

.auth-container .left-part,
.auth-container .right-part,
.auth-container .main-part {
  height: 75vh;
  padding-top: 4vh;
  border-radius: 0;
}

.auth-container .left-part {
  background: linear-gradient(var(--bg-primary__light), var(--bg_hover));
}

.auth-container .left-part .logo-area .logo-img {
  height: 58px;
  width: 58px;
  margin-left: 5vw;
}

.auth-container .left-part .place-holder-img {
  margin-top: 3vh;
}

.auth-container .right-part,
.auth-container .main-part {
  background: var(--bg_lightgray);
}

.auth-container .right-part .auth-title {
  font-size: 1.1875rem;
}

.jobview-container {
  height: 90vh;
  max-height: 540px;
}

.jobview-container .job-details,
.jobview-container .candidate-details {
  height: 100%;
  width: 100%;
  margin-bottom: 18px;
}

.jobview-container .job-details .title h2,
.jobview-container .candidate-details .title h2 {
  font-size: x-large;
  margin: 2vh auto;
}

.jobview-container .job-description table.table th,
.jobview-container .job-description table.table tr {
  border-top: hidden;
}

.jobview-container .candidate-details .tab-content {
  max-height: 80%;
}

.jobview-container .candidate-details .tab-content .table-responsive {
  height: 100%;
  max-height: 480px;
}

.jobview-container .job-details .job-details-border {
  height: 100%;
  max-height: 530px;
  overflow-y: auto;
}

.detailed-description p.desc-text {
  line-height: 20px;
}

.search-container button.search-icon {
  position: absolute;
  left: 260px;
  top: 0;
}

/* Responsive Contents START */

/* For larger screens >= 1024px~1140px  */
@media all and (min-width: 1023px) {

  /* Auth pagesSTYLES */

  .auth-container .main-part {
    height: 65vh;
  }

  .auth-container .left-part,
  .auth-container .right-part,
  .auth-container .main-part {
    height: 75vh;
    padding-top: 4vh;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  .auth-container .left-part {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .auth-container .left-part .place-holder-img {
    margin-top: 3vh;
  }

  .auth-container .right-part {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .auth-container .right-part .auth-title {
    font-size: 1.1875rem;
  }
}

/* Responsive Contents END */