/*!
 *      Default styles for all pages
 *      Fumana global styles
 *      (c) Fumana Teams 2020
*/

:root {
  /* Global attributes */
  --theme_color: #a87705;
  --color_primary: #f9ae00;
  --color_secondary: #cf940a;
  --color_tertiary: #c08702;
  --color_accessibility__light: #ECEFF1;
  --color_white: #fff;
  --color_black: #000;
  --color_gray: rgba(122, 118, 118, 0.897);
  --color_darkgray: rgba(39, 38, 38, 0.897);
  --color_accessibility: #263238;
  --color_hover: #00aa9f;
  --bg_hover__dark: #008077;
  --bg_lightgray: rgba(245, 245, 245, 0.8);
  --bg_hover: #00b6aa;
  --bg-primary__light: #f8c858b6;
  --default_font__size: 1rem;
  --default_font__family: Muli, sans-serif;
  --heading_font: Catamaran;
}

/* Text colors */
.color-primary {
  color: var(--color_primary);
}

.color-secondary {
  color: var(--color_secondary);
}

.color-tertiary {
  color: var(--color_tertiary);
}

.color-accessibility {
  color: var(--color_accessibility);
}

.color_light__accessibility {
  color: var(--color_light__accessibility);
}

.color-hover {
  color: var(--color_hover);
}

.color-white {
  color: var(--color_white);
}

.color-black {
  color: var(--color_black);
}

.color-gray {
  color: var(--color_gray);
}

.color_hover__dark {
  background-color: var(--color_hover__dark)
}

/* Background colors */
.bg-primary {
  background-color: var(--color_primary);
}

.bg-primary__light {
  background-color: var(--bg-primary__light);
}

.bg-secondary {
  background-color: var(--color_secondary);
}

.bg-tertiary {
  background-color: var(--color_tertiary);
}

.bg-lightgray {
  background-color: var(--bg_lightgray);
}

.bg_hover {
  background-color: var(--bg_hover)
}

.bg_hover__dark {
  background-color: var(--bg_hover__dark)
}

.bg-accessibility {
  background-color: var(--color_accessibility)
}

.bg-gray {
  background-color: var(--color_gray);
}